In [47]:
import pandas as pd
import numpy as np

data_path = "C:/Users/infiark/Desktop/review/GitHub/3rd-ML100Days/info/期中考_D51_D53/3rd-ml100marathon-midterm/"
df_train = pd.read_csv(data_path + "train_data.csv")
df_test = pd.read_csv(data_path + "test_features.csv")
target = pd.read_csv(data_path + "sample_submission.csv")

train_Y = df_train['poi']
ids = df_test['name']
df_train = df_train.drop(['name', 'poi'], axis=1)
df_test = df_test.drop(['name'], axis=1)
df = pd.concat([df_train, df_test])
df.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,4.0,NaN,1617011.0,174839.0,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,30.0,NaN,1920000.0,22122.0,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,14.0,NaN,NaN,1573324.0,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,800000.0,NaN,NaN,NaN,michael.kopper@enron.com,NaN,118134.0,NaN,NaN,NaN,NaN,602671.0,907502.0,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,25.0,NaN,375304.0,486.0,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0

In [48]:
def na_check(df_data):
    data_na = (df_data.isnull().sum() / len(df_data) * 100)
    data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)
    missing_data = pd.DataFrame({"Missing_Ratio": data_na})
    display(missing_data.head(20))

na_check(df)

                           Missing_Ratio
loan_advances                  97.260274
director_fees                  88.356164
restricted_stock_deferred      87.671233
deferral_payments              73.287671
deferred_income                66.438356
long_term_incentive            54.794521
bonus                          43.835616
from_messages                  41.095890
from_poi_to_this_person        41.095890
from_this_person_to_poi        41.095890
shared_receipt_with_poi        41.095890
to_messages                    41.095890
other                          36.301370
expenses                       34.931507
salary                         34.931507
exercised_stock_options        30.136986
restricted_stock               24.657534
email_address                  23.972603
total_payments                 14.383562
total_stock_value              13.698630

In [49]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score, mean_squared_error

df = df.fillna(0)
MMEncoder = MinMaxScaler()
df = df.drop(['email_address'] , axis=1)
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

x_train, x_test, y_train, y_test = train_test_split(train_X, train_Y, test_size=0.25, random_state=4)

In [50]:
lr = LogisticRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
acc = accuracy_score(y_test, y_pred)
print("Accuracy:", acc)

Accuracy: 0.8275862068965517

C:\Users\infiark\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [51]:
lr.fit(train_X, train_Y)
lr_pred = lr.predict_proba(test_X)[:, 1]
sub = pd.DataFrame({'name': ids, 'poi': lr_pred})
sub['poi'] 
sub.to_csv(data_path + 'Day_051_to_053_Midterm.csv', index=False)
# target = target['poi'].values

# mse = mean_squared_error(target, lr_pred)

[0.00720096 0.90334044 0.57273088 0.95092708 0.94240213 0.01352995
 0.27586617 0.14473139 0.38812362 0.03220772 0.30057432 0.61645136
 0.44005493 0.65720766 0.8330137  0.41322444 0.72092284 0.90445429
 0.298674   0.14884244 0.35143852 0.28412851 0.56877238 0.89076108
 0.83841248 0.35429503 0.58149711 0.68654283 0.20038667 0.11776584
 0.98151069 0.86322061 0.91223887]
[1.28801038e-001 3.73703821e-001 9.99714255e-001 1.48780829e-005
 1.94530534e-001 8.51435945e-001 3.05986283e-019 4.84096767e-019
 6.38026343e-001 1.03020469e-009 1.48758651e-013 4.41414822e-001
 5.31813971e-001 4.88700669e-007 5.84287597e-116 4.44896935e-001
 4.02165477e-023 1.30086947e-001 4.32556595e-007 1.78575148e-002
 0.00000000e+000 9.67939670e-001 1.56672809e-001 4.96646839e-001
 2.06988522e-001 8.48559663e-021 1.00000000e+000 3.98703613e-001
 5.24333612e-001 6.28701971e-002 8.99204438e-003 4.02439229e-002
 9.58830692e-001]
0.2641650929083042

C:\Users\infiark\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\infiark\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)