In [145]:
import pandas as pd
import numpy as np
from IPython.display import display

data_path = "C:/Users/infiark/Desktop/review/GitHub/3rd-ML100Days/info/期中考_D51_D53/3rd-ml100marathon-midterm/"
df_train = pd.read_csv(data_path + "train_data.csv")
df_test = pd.read_csv(data_path + "test_features.csv")
target = pd.read_csv(data_path + "sample_submission.csv")

train_Y = df_train['poi']
ids = df_test['name']
df_train = df_train.drop(['name','poi'], axis=1)
df_test = df_test.drop(['name'], axis=1)
df = pd.concat([df_train, df_test])
df.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,4.0,NaN,1617011.0,174839.0,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,30.0,NaN,1920000.0,22122.0,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,14.0,NaN,NaN,1573324.0,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,800000.0,NaN,NaN,NaN,michael.kopper@enron.com,NaN,118134.0,NaN,NaN,NaN,NaN,602671.0,907502.0,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,25.0,NaN,375304.0,486.0,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0

In [146]:
# 檢查 DataFrame 空缺值的狀態
def na_check(df_data):
    data_na = (df_data.isnull().sum() / len(df_data)) * 100
    data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)
    missing_data = pd.DataFrame({'missing_ratio': data_na})
    display(missing_data.head(20))
    return list(missing_data[missing_data['missing_ratio'] < 50].index)

# 缺失比小於50的欄位
mlt50 = na_check(df)

                           missing_ratio
loan_advances                  97.260274
director_fees                  88.356164
restricted_stock_deferred      87.671233
deferral_payments              73.287671
deferred_income                66.438356
long_term_incentive            54.794521
bonus                          43.835616
from_messages                  41.095890
from_poi_to_this_person        41.095890
from_this_person_to_poi        41.095890
shared_receipt_with_poi        41.095890
to_messages                    41.095890
other                          36.301370
expenses                       34.931507
salary                         34.931507
exercised_stock_options        30.136986
restricted_stock               24.657534
email_address                  23.972603
total_payments                 14.383562
total_stock_value              13.698630

In [147]:
# 特徵工程
# df = df[mlt50]
df['bonus'] = df['bonus'].map(lambda x: 1 if x > df['bonus'].mean() else 0)
df['salary'] = df['salary'].map(lambda x: 1 if x > df['salary'].mean() else 0)
df['exercised_stock_options'] = df['exercised_stock_options'].map(lambda x: 1 if x > df['exercised_stock_options'].mean() else 0)
df['restricted_stock'] = df['restricted_stock'].map(lambda x: 1 if x > df['restricted_stock'].mean() else 0)
df = df.drop(['email_address', 'total_payments', 'total_stock_value'], axis=1)
df = df.fillna(0)
na_check(df)
df.head()

Empty DataFrame
Columns: [missing_ratio]
Index: []

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages
0,0,0.0,-3504386.0,0.0,1,46950.0,18.0,42.0,4.0,0.0,1617011.0,174839.0,1,0.0,0,864.0,905.0
1,1,0.0,0.0,0.0,1,29336.0,108.0,88.0,30.0,0.0,1920000.0,22122.0,1,0.0,1,2042.0,3627.0
2,0,0.0,-4167.0,0.0,0,22884.0,39.0,13.0,14.0,0.0,0.0,1573324.0,0,0.0,0,91.0,225.0
3,0,0.0,0.0,0.0,0,118134.0,0.0,0.0,0.0,0.0,602671.0,907502.0,0,0.0,0,0.0,0.0
4,0,0.0,-262500.0,0.0,0,35818.0,144.0,199.0,25.0,0.0,375304.0,486.0,0,0.0,0,2188.0,2598.0

In [148]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV, train_test_split

df_mm = MinMaxScaler().fit_transform(df)

train_num = train_Y.shape[0]
train_X = df_mm[:train_num]
test_X = df_mm[train_num:]

x_train, x_test, y_train, y_test = train_test_split(train_X, train_Y, test_size=0.25, random_state=4)

In [149]:
from sklearn.metrics import accuracy_score, mean_squared_error
# 使用RandomSearch尋找最佳參數
tol = np.arange(0.0001, 1, 0.0001)
penalty = ['l1', 'l2']
fit_intercept = [True, False]
C = np.arange(0.01, 1, 0.01)
param_dict = dict(tol=tol, penalty=penalty, fit_intercept=fit_intercept, C=C)

random_search = RandomizedSearchCV(LogisticRegression(), param_dict, n_jobs=-1, verbose=1)

# 開始搜尋最佳參數
acc = 0
while acc < 0.8:
    search_result = random_search.fit(x_train, y_train)
    lr = LogisticRegression(
        tol=search_result.best_params_['tol'], 
        penalty=search_result.best_params_['penalty'],
        fit_intercept=search_result.best_params_['fit_intercept'],
        C=search_result.best_params_['C'])
    
    lr.fit(x_train, y_train)
    y_pred = lr.predict(x_test)
    acc = accuracy_score(y_test, y_pred)
    print(acc)

Fitting 3 folds for each of 10 candidates, totalling 30 fits
0.8620689655172413

C:\Users\infiark\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  15 out of  30 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:    0.0s finished
C:\Users\infiark\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\infiark\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [150]:
lr.fit(train_X, train_Y)
pred_Y = lr.predict_proba(test_X)[:, 1]
print(pred_Y)
sub = pd.DataFrame({"name": ids, "poi": pred_Y})
sub.to_csv(data_path + "Day_051_to_053_Midterm_V2.csv", index=False)

target = target['poi'].values

mse = mean_squared_error(target, pred_Y)
print("mse:", mse)

[0.22218027 0.20311067 0.22885473 0.20310408 0.20496783 0.20310408
 0.23101642 0.20388598 0.20548557 0.20468945 0.20310408 0.20310408
 0.20310408 0.20340733 0.21344178 0.20310408 0.20930043 0.20350781
 0.2047025  0.20310408 0.5        0.20310408 0.20310408 0.20310408
 0.20310408 0.20436999 0.20310408 0.20310408 0.20310408 0.20310408
 0.20310408 0.20310408 0.20310408]
mse: 0.1965984990407171

C:\Users\infiark\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)